@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->



/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url();
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}



#scrolly{
           width: 1000px;
           height: 190px;
           overflow: auto;
           overflow-y: hidden;
           margin: 0 auto;
           white-space: nowrap
       }

       #img{
           width: 300px;
           height: 150px;
           margin: 20px 10px;
           display: inline;
       }


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}


}
footer{
	border-top: 1px solid #C99D66; /* primary-color */
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:14px;
	background: rgb(104,177,101);
background: linear-gradient(90deg, rgba(104,177,101,0.9812967423297444) 0%, rgba(219,139,66,1) 44%, rgba(176,49,23,1) 81%);/* primary color*/

}

footer a{
	color:#ffffff; /* secondary-color*/
}

footer a:hover{
	color:#b4fff6; /* light seconday color*/
}

footer .credits {
	max-width:300px;
	margin:auto;
}

footer .credits a img {
  -o-transition: opacity .2 ease-in;
  -ms-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease
}

footer .credits a img:hover {
	opacity:0.6;
}

footer .social-cont .social-list {
	list-style-type: none;
	margin: 0 auto;
	padding: 10px 0;
}

footer .social-cont .social-list > li {
	margin: 8px 8px 8px 0;
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	border-radius: 6em;
	background-color:#F0776C; /* secondary-color*/
}

footer .social-cont .social-list li img {
	width: 32px
}

footer .social-cont .social-list > li:hover {
background:#FF968C; /* light seconday color*/
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;


  margin-bottom: 13%;
  padding-left: 10%;
}

@media only all and (max-width: 1000px){
    .wrapper { grid-template-columns: repeat(2, 1fr);}
}
@media only all and (max-width: 650px){
    .wrapper { grid-template-columns: repeat(1, 1fr);
    padding-left: 20%;}

}
@media only all and (max-width: 480px){
    .wrapper {
    padding-left: 10%;}
}



.ticket {
 font-family: sans-serif;

 background-repeat: no-repeat;
 background-position: top;
 background-size: 100%;
 background-color: #04030C;
 width: 700px;
 height: 300px;
 border-radius: 15px;
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
 display: block;
 margin: 10% auto auto auto;
 color: #fff;;
}

.date {
 margin: 15px;
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.date .day{
 font-size: 80px;
 float: left;
}

.date .month-and-time {
 float: left;
 margin: 15px 0 0 0;
 font-weight: bold;
}

.artist {
 font-size: 30px;
 margin: 10px 100px 0 40px;
 float: left;
 font-weight: bold;
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.location {
 float: left;
 margin: 135px 0 0 78px;
 font-size: 30px;
 font-weight: bold;
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.location::before {
 background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/QRCodeWikipedia.png');
 background-size: 110px 110px;
 width: 110px;
 height: 110px;
 content:"";
 display: inline-block;
 float: left;
 position: absolute;
 left: -160px;
 bottom: 5px;
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.rip {
 border-right: 8px dotted #fff;
 height: 300px;
 position: absolute;
 top: 0;
 left: 530px;
}

.cta .buy {
 position: absolute;
 top: 135px;
 right: 15px;
 display: block;
 font-size: 12px;
 font-weight: bold;
 background-color: #436ea5;
 padding: 10px 20px;
 border-radius: 25px;
 color: #fff;
 text-decoration: none;
 -webkit-transform: rotate(-90deg);
       -ms-transform: rotate(-90deg);
           transform: rotate(-90deg);
 -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
           filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.small {
 font-weight: 200;
}
